.App {
  text-align: center;
    font-family: 'Playfair Display';

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #71ebf0;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
.Menu-navigate{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  background-color: #C47C4A;

}
.Menu-navigate a {
  color: #4b2e05;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  transition: color 0.3s ease;
}
.Section-Cards{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.My-Card{
  width:30%;
  background-color: azure;
}